.configurator {
  border: 1px solid #7BF762;
  border-radius: 8px;
  width: 65vw;
  display: grid;
  grid-template-areas:
    "title title"
    "modules shopping-cart";
}

.configurator div {
  grid-area: modules;
}

.configurator h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #7BF762;
  font-size: 24px;
  letter-spacing: 4.8px;
  text-align: center;
  grid-area: title;
}