.shopping-cart-container {
  grid-area: shopping-cart;
}

.shopping-cart {
  border: 1px solid var(--accent-color);
  background-color: var(--background-color-alt);
  border-radius: 8px;
  color: var(--accent-color);
  font-size: 14px;
  letter-spacing: .2em;
}

.shopping-cart-list > .cost {
  color: var(--accent-color-alt);
}

.shopping-cart-list {
  display: grid;
  margin: 1rem;
  gap: .5rem;

  /* We do this to fit a price of up to ~5 digits long on the
  right hand side of the grid while still remaining left-aligned
  across two grids. Beyond ~5 digits the grid will still function,
  although without left-aligned digits. */
  grid-template-columns: 1fr minmax(80px, min-content);
}

.shopping-cart-list:nth-of-type(2) {
  font-size: 18px;
  letter-spacing: .2em;
}

/* The shopping cart will only have 5 categories at most. Beyond
that the cart will need to be resized. */
.shopping-cart-list:first-of-type {
  grid-template-rows: repeat(5, 1fr);
}

/* This style is consistent across Chromium and Firefox. */
.shopping-cart > hr {
  border: .5px solid;
  background-color: var(--accent-color);
  color: var(--accent-color);
  margin-block: 0;
}