.App {
  background-color: #051544;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.configurator {
  border: 1px solid #7bf762;
  border-radius: 8px;
  width: 65vw;
  display: grid;
  grid-template-areas:
    "title title"
    "modules shopping-cart";
}

.categories {
  grid-area: modules;
}

.shopping-cart {
  grid-area: shopping-cart;
  background-color: #1c3c16;
  border: 1px solid #7bf762;
  border-radius: 8px;
}

.configurator h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #7bf762;
  font-size: 24px;
  letter-spacing: 4.8px;
  text-align: center;
  grid-area: title;
}