.slot {
  margin: 1em;
}

.module-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.module {
  border: 1px solid var(--accent-color-dimmed);
  border-radius: 8px;
  font-size: 14px;
  padding: .75rem;
  text-align: center;
  letter-spacing: 1.4px;
  width: var(--module-width);
}

.module .cost {
  display: block;
  font-size: 12px;
  letter-spacing: 1.2px;
}

/* Is this the right approach when considering accessibility? */
.module input[type="radio"] {
  display: none;
}

.selected {
  color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
}

.slot-title {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
}